# roles/app_build/templates/app.env.j2
DB_HOST={{ mysql_host }}
DB_PORT={{ mysql_port }}
DB_USER={{ mysql_user }}
DB_PASS={{ mysql_user_password }}
DB_NAME={{ mysql_database }}
# Backend app environment/config must point to