# roles/backup_service/templates/backup.env.j2

BACKUP_DIR=/data/serpent_backup/dumps
ARCHIVE_DIR=/data/serpent_backup/archives
LOG_FILE=/var/log/serpentbackup/backup.log

MYSQL_HOST={{ mysql_host }}
MYSQL_USER={{ mysql_user }}
MYSQL_PASS={{ mysql_user_password }}
MYSQL_DB={{ mysql_database }}
MYSQL_TABLE={{ mysql_table }}
